body {
  margin: 0;
  padding: 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.circle {
  position: absolute;
  height: 33px;
  width: 33px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 30px 30px 0 #2ecc71,
              -30px 30px 0 #e67e22,
              30px -30px 0 #e74c3c,
              -30px -30px 0 #f1c40f,
              0px -45px 0 #9b59b6,
              0px 45px 0 #2c3e50,
              45px 0 0 #f39c12,
              -45px 0 0 #1abc9c;
  animation: gira 5s infinite;           
}
@keyframes gira {
  0% {
    box-shadow: 0px 0px 0 #2ecc71,
              0px 0px 0 #e67e22,
              0px 0px 0 #e74c3c,
              0px 0px 0 #f1c40f,
              0px 0px 0 #9b59b6,
              0px 0px 0 #2c3e50,
              0px 0 0 #f39c12,
              0px 0 0 #1abc9c;
  }
  25% {
    box-shadow: 30px 30px 0 #2ecc71,
              -30px 30px 0 #e67e22,
              30px -30px 0 #e74c3c,
              -30px -30px 0 #f1c40f,
              0px -45px 0 #9b59b6,
              0px 45px 0 #2c3e50,
              45px 0 0 #f39c12,
              -45px 0 0 #1abc9c;
    transform: rotate(360deg)
  }
  75% {
    box-shadow: 30px 30px 0 #2ecc71,
              -30px 30px 0 #e67e22,
              30px -30px 0 #e74c3c,
              -30px -30px 0 #f1c40f,
              0px -45px 0 #9b59b6,
              0px 45px 0 #2c3e50,
              45px 0 0 #f39c12,
              -45px 0 0 #1abc9c;
    transform: rotate(720deg)
  }
  100% {
     box-shadow: 0px 0px 0 #2ecc71,
              0px 0px 0 #e67e22,
              0px 0px 0 #e74c3c,
              0px 0px 0 #f1c40f,
              0px 0px 0 #9b59b6,
              0px 0px 0 #2c3e50,
              0px 0 0 #f39c12,
              0px 0 0 #1abc9c;
    transfor: rotate(1440deg)
  }
}