body{
  background: #3e0000;
  margin: 0;
  padding: 0;
}
.heart{
  width: 180px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 35%;
  background: #fe3e3e;
  transition: 1s;
  transform-origin: right bottom;
}
.heart:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fe3e3e;
  transition: 2s; 
  transform-origin: right bottom;
}
.heart:hover{
  transform: rotate(45deg);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.heart:hover:before{
  background: #EA3939;
  transform: rotate(450deg) translateY(100px);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
 
}
a {
  color: #C1A8FA;
  text-decoration: none;
} a:hover {
  color: rgb(113, 70, 168);
}
footer {
    font-family: verdana;
    text-align: end;
    background: black;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: .8em;
}