body{
  background: #ffa9b3;
  margin: 0;
  padding: 0;
}
.text {
  margin: 250px 300px;
  text-align: center;
  display: inlin-block;
  transition: .5s
}

.text span {
  background: #dedede;
  width: 120px;
  height: 120px;
  display: block;
  line-height: 120px;
  font-weight: bold;
  color: #a4a4b4;
  font-size: 40px;
  float: left;
  transition: .2s;
}
.text span:nth-child(1) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
} 
.text span:nth-child(1) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
} 

.text:hover span:nth-child(odd) {
  transform: skewY(-15deg);
  color: #b9b9b9;
  box-shadow: 0 60px 20px rgba(0, 0, 0, .1)
}

.text:hover span:nth-child(even) {
  transform: skewY(15deg);
  color: #9b9b9b;
  box-shadow: 0 60px 20px rgba(0, 0, 0, .1), inset 0px 0 130px rgba(0, 0, 0, .1)
}

.text:hover {
  transform: rotateX(25deg)
}
a {
  color: #C1A8FA;
  text-decoration: none;
} a:hover {
  color: rgb(113, 70, 168);
}
footer {
    font-family: verdana;
    text-align: end;
    background: black;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}