body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  color: #712E0E;
  text-align: center;
}
.box {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.box figure {
  height: 100%;
  margin: 0;
  padding: 0; 
}
.box figure img {
  width: 140%;
  height: 100%;
}
.box figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 80px 20px;
  z-index: 100;
  opacity: 0;
  transition-delay: .3s;
  transition: .5s ease;
}
.box figure:before,
.box figure:after {
  content: "";
  position: absolute;
  transition: .5s ease-in-out;
  height: 200%;
  width: 200%;
  background: #000;
}
.box figure:before {
  right: 0;
  bottom: 0;
  background: rgba(183, 255, 218, .5);
  transform: skew(45deg) translateX(100%);
}
.box figure:after {
  left: 0;
  top: 0;
  background: rgba(255, 119, 152, .5);
  transform: skew(-135deg) translateX(-100%);
}
.box:hover figure:before {
  transform: skew(45deg) translateX(0%);
}
.box:hover figure:after {
  transform: skew(-135deg) translateX(0%);
}
.box:hover figcaption {
  opacity: 1;
}