body {
  margin: 0;
  padding: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ball {
  width: 50px;
  border-top: 25px solid #8F42F6;
  border-bottom: 25px solid #EB34F9;
  border-radius: 50%;
  animation: bounce 1s infinite linear; 
}
.shadow {
  position: absolute;
  top: 40px;
  left: 0;
  width: 50px;
  height: 10px;
  border-radius: 50%;
  background: #262626;
  opacity: .8;
  animation: shadow 1s infinite linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-200px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

@keyframes shadow {
  0%{
    transform: sacle(1);
  }
  50%{
    transform: scale(.4);
    opacity: .3
  }
  100%{
    transform: scale(1);
    opacity: .8;
  }
}