body {
  background: #F1D68D;
  margin: 0;
  padding: 0; 
}

ul {
  margin: 200px auto;
  padding: 30px; 
  border: 10px solid #C46234;
  display:inline-block;
  position: absolute;
  top: 10%;
  margin-left: 220px;
  transform: translateY(-50%) translateX(50%)
}

ul li{
  list-style: none;
  color: #C46234;
  float: left;
  font-size: 5em;
  font-family: verdana;
  transition: .9s;
}

ul:hover li {
  transform: rotateY(360deg);
}
ul:hover li:nth-child(1){
transition-delay: 0.3s;
}

ul:hover li:nth-child(2){
transition-delay: 0.6s;
}

ul:hover li:nth-child(3){
transition-delay: 0.8s;
}

ul:hover li:nth-child(4){
transition-delay: 1s;
}

ul:hover li:nth-child(5){
transition-delay: 1.2s;
}

ul:hover li:nth-child(6){
transition-delay: 1.5s;
}

ul:hover li:nth-child(7){
transition-delay: 1.8s;
}

ul:hover li:nth-child(8){
transition-delay: 2s;
}
a {
  color: #C1A8FA;
  text-decoration: none;
} a:hover {
  color: rgb(113, 70, 168);
}
footer {
    font-family: verdana;
    text-align: end;
    background: black;
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}