body {
  margin: 0;
  padding: 0;
  background: #5245d8;
}

h1 {
  margin: 240px 0 0 400px;
  padding: 0;
  font-family: verdana;
  color: #fff;
  font-size: 5em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, .5)
}
span:before {
  content:"Jane Austen";
  animation: autores 8s infinite;
}
@keyframes autores {
  0%{
    content:"Jane Austen"
  }
  25%{
    content:"Charles Dickens"
  }
  50%{
    content:"Douglas Adams"
  }
  75%{
    content:"Bis Coutinho"
  }
  100%{
    content:"Saint Exupéry"
  }
}
