body {
  margin: 0;
  padding: 0;
  background: #8b7cff;
}
ul {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  background: #fff;
}
ul:after{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #8b7cff;
  border-radius: 50%;
  z-index: 1;
  border: 8px solid #efefef;
}
ul:before {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #8b7cff;
  border-radius: 50%;
}
ul li {
  list-style: none;
  float: left;
  width: 20px;
  height: 80px;
  background: #fff;
  margin: 0 1px;
  animation: animate 2s linear infinite;
  transform-origin: bottom;
  position: absolute;
  left: 40%;
  top: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul li:nth-child(1) {
  animation-delay: .2s;
}
ul li:nth-child(2) {
  animation-delay: .4s;
}
ul li:nth-child(3) {
  animation-delay: .6s;
}
ul li:nth-child(4) {
  animation-delay: .8s;
}
ul li:nth-child(5) {
  animation-delay: 1.0s;
}
ul li:nth-child(6) {
  animation-delay: 1.2s;
}
ul li:nth-child(7) {
  animation-delay: 1.4s;
}
ul li:nth-child(8) {
  animation-delay: 1.6s;
}
ul li:nth-child(9) {
  animation-delay: 1.8s;
}
ul li:nth-child(10) {
  animation-delay: 2.0s;
}