body {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  margin: 20px auto 0;
  padding: 0;
  font-family: "Arial Black";
}
.container span {
  font-size: 10em;
  color: #ff2876;
  position: relative;
  text-shadow: -1px 0 0 rgba(0, 0, 0, .2);
}
.container span:before {
  content: attr(data-title);
  position: absolute; 
  top: 0;
  left: 0;
  transform-origin: left;
  color: #fff;
  transition: .5 cubic-bezier(0, 1.88, .83, .67);
  transform: rotateY(25deg);
  z-index: 2;
}
.container span:after {
  content: attr(data-title);
  position: absolute; 
  top: 0;
  left: 0;
  transform-origin: left;
  color: rgba(0, 0, 0, .1);
  transition: .5 cubic-bezier(0, 1.88, .83, .67);
  transform: rotateY(5deg) scale(1.07, 1) skewY(3deg);
  z-index: 1;
  opacity: .5
}
.container span:hover:before {
  transform: perspective(1000px) rotateY(-45deg);
  
}
.container span:hover:after {
   transform: rotateY(0deg) scale(1.11, 1) skewY(6deg);
}